/* 1. 웹폰트 선언 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* 2. 디자인 시작시 기본 선언 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Noto Sans KR', sans-serif;

    width: 100%;
    min-width: 320px;

}

img {
    max-width: 100%; /* 사이즈가 변했을 때 너비 유지 */
    height: auto; /* 너비에 따라 높이 변경 */
}

input, textarea, button, select {
    -webkit-appearance: none; /* 브라우저 별로 고유하게 적용되는 form관련 요소들의 css 제거 */
    -moz-appearance: none;
    -o-appearance: none;

}

ul, li, dl, ol {
    list-style: none; /* 순서요소들의 리스트스타일 제거 */
}

section {
    margin-top: 50px;
}

/* 버튼과 인풋태그 모서리 반지름 설정 */
.btn {border-radius: 0px;}
.form-control {border-radius: 0px;}

/* ====헤더==== */
.header_col1 {
    background-color: #eee;
    overflow: hidden;
    height: 52px;
    line-height: 52px; /* 세로축 가운데정렬 */
}

.top_width > ul > li.on {
    /* 선택자를 붙여서 사용하게 되면 li태그 안에 클래스 이름이 on인것을 의미 */
    border-top: 1px solid #d2d0d0;
    line-height: 42px;
    border-left: 1px solid #d2d0d0;
    border-right: 1px solid #d2d0d0;
    border-bottom: 1px solid #fff;
    background: #fff;
    font-weight: 500;

    border-bottom: 5px solid #037fc3;
}

.top_width > ul > li {
    display: inline-block;
    width: 135px;
    text-align: center;
    font-weight: 700;
}

.top_width > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.top_width {overflow: hidden; width: 1240px; margin: 0 auto;}
.fl_left {float: left;}
.fl_right {float: right;}

.fl_right > a {
    background-color: #fff;
    text-decoration: none;
    color: #666;
    padding: 7px;
    border: 1px solid #d2d2d2;

}

/* 아래쪽 헤더 */
.top_hide {
    display:none;
}


.logo a {
    background-image: url("../img/logo.png");
    display: block; /* a태그의 컨텐츠요소가 없기 때문에 크기 강제지정 */
    width: 200px;
    height: 33px;
    margin: 23px 0 0;
    background-repeat: no-repeat;
}

.logo {
    float: left;
}

.top_menu {
    float: left;
    margin-left: 30px;
}

.top_menu > ul > li {
    display: inline-block; /* 배치구도 변경 */
}

.top_menu > ul > li > a {
    /* a에 넓이 설정을 해주는 이유 - 마우스 클릭 범위 조절 */
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 5px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.top_menu > ul > li > a:hover {
    color: #39f;
    /* background-color: #d2d2d2; */
}

/* ======heaer2 design ====== */

.navbar {
    margin: 0;
}

.custom_header {
    background-color: #263238;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.custom_header nav a {
    color: #fff;
}

.ac {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.custom_header .nav > li > a:hover,
.custom_header .nav > li > a:focus {
    background-color: #304047;
}

.custom_header .navbar-toggle,
.custom_header .navbar-toggle .icon-bar {
    color: #fff;
    border: 1px solid #fff;
}

/* 드롭다운메뉴 색상변경 */
.dropdown-menu > li > a {
    color: black;
}

@media(max-width: 767px) {
    .dropdown-menu > li > a {
        color: #eee;
    }
}

/* =====footer===== */
footer {
    background-color: #263238;
    color: #eee;
    padding: 30px 0;
}

footer .copyright {
    font-size: 15px;
}

footer .footer-menu li {
    display: inline-block;
}

footer .footer-menu > li > a {
    display: block;
    padding: 0 15px;
    color: #eee;
}

/* =====슬라이더 영역===== */
.slide-list {
    padding: 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

/* =====메인 상품 리스트===== */
.prod-wrap, .prod-inner > a {
    border: 1px solid #666;
}
.prod-wrap, .prod-inner {
    padding: 5px;
}
.prod-inner > a  {
    display: block;
    text-align: center;
    position: relative;
}
.prod-inner > a > .arrow {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #ccc;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.prod-inner > a > .hover {
    width: 100px;
    background-color: pink;
    opacity: 0; /* 0이면 투명, 1이면 기본 */
}
.prod-inner > a:hover > .arrow {
    opacity: 0;
}
.prod-inner > a:hover > .hover {
    opacity: 1;
}
.prod-inner > a:hover {
    border: 1px solid turquoise;
}

/* =====layout===== */

@media(min-width:1200px) {
    .blog-style > li[class*="col-lg-2"]{
        width: 20%;
    }
}

.layout-style{
    margin-bottom: 30px;
}
.blog-wrap {
    border: 1px solid #ddd;
    width: 100%;
    position: relative;
    margin-top: 30px;
}
.blog-wrap > .blog-content{
    padding: 15px 12px;
}
.blog-wrap > .blog-content > p {
    font-size: 15px;
    font-weight: bold;
    min-height: 70px;
    height: 60px;
    line-height: 20px;
    margin-bottom: 10px;
}
.blog-info {
    margin-top: 20px;
    overflow: hidden;
}

.blog-info > ul{
    float: left;
}

.blog-info > ul > li {
    display: inline-block;
    color:#FDCC11;
}
.blog-info > strong {
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.blog-wrap > .blog-img {
    text-align: center;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
}
.blog-wrap .hover-content a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    background-color:transparent;
    
}
.hover-content:hover {
    opacity: 1;
}
